@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-size: 62.5%;
}
body {
  background: url(../img/bg.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
}
body #wrapper {
  background-color: #fff;
}
body #navigation #nav {
  background-color: #DBDBDB;
}
body #footer {
  margin-top: 400px;
}
body p {
  font-size: 1.4rem;
  color: #454545;
}
body div[role="main"] .map-container {
  width: 500px;
  height: 500px;
}
body div[role="main"] .user {
  background-color: #ffffff;
}
body div[role="main"] .hide::before {
  content: 'x';
}
body div[role="main"] .tab-head {
  padding: 6px 8px;
  background-color: #dedede;
  border-radius: 5px;
  margin-right: 10px;
}
body div[role="main"] #basic-info {
  display: block;
}
body div[role="main"] #basic-info .info-title {
  color: #72c148;
  font-weight: 600;
  font-size: 20px;
}
body div[role="main"] #basic-info table {
  border: none;
  border-spacing: none;
  border-collapse: collapse;
}
body div[role="main"] #basic-info table tr {
  border: none;
}
body div[role="main"] #basic-info table tr td {
  border: none;
}
body div[role="main"] #breakdown-info {
  display: none;
}
body div[role="main"] #breakdown-info .info-title {
  color: #72c148;
  font-weight: 600;
  font-size: 20px;
}
body div[role="main"] #breakdown-info table {
  border: none;
  border-spacing: none;
  border-collapse: collapse;
}
body div[role="main"] #breakdown-info table thead th td {
  border: 1px solid #cecece;
  background-color: #5eb3dc;
  color: #ffffff;
}
body div[role="main"] #breakdown-info table tr {
  border: none;
}
body div[role="main"] #breakdown-info table tr:nth-child(odd) td {
  background-color: #ffffff;
}
body div[role="main"] #breakdown-info table tr td {
  border: 1px solid #cecece;
  background-color: #d8d8d8;
}
