// ===== Responsive Styles ===========================================================================
// Author: Stefanus Thobi Sinaga (stefanus@xtremax.com)
// 2015
// Info: Main styling for ProjectX (desktop-first approach)
// ===================================================================================================

// import bootstrap variables, grid and mixins
@import "../js/vendor/bootstrap/less/mixins.less";
@import "fonts.less";

// basic variables
@themecolor: #f13940;
@bodyfontcolor: #454545;

html {
	font-size: 62.5%;
}

body {
	background: url(../img/bg.jpg);
	background-position: fixed;
	background-repeat: no-repeat;

	#wrapper {
		background-color: #fff;
	}

	#navigation #nav {
		background-color: #DBDBDB;
	}

	#footer {
		margin-top: 400px;
	}

	// heading 1 style
	h1 {

	}

	// heading 2 style
	h2 {
		
	}

	// heading 3 style
	h3 {
		
	}

	// heading 4 style
	h4 {
		
	}

	// heading 5 style
	h5 {
		
	}

	// paragraph style
	p {
		font-size: 1.4rem;
		color: @bodyfontcolor;
	}

	// global link style
	a {

	}

	div[role="main"] {

		
	}

	.map-container {
		width: 500px;
		height: 500px;
	}

	.user {
		background-color: #ffffff;

		.title {
			display: none;
		}

		.border {
			display: none;
		}

		.hide {
			height: 20px;
			width: 20px;
			top: 5px;
			right: 5px;
			margin: 0;
			text-align: center;
			font-size: 13px;
			line-height: 20px;

			&::before {
				content: 'x';
			}
		}

		.layout.content {
			-webkit-box-shadow: 2px 2px 2px 0px rgba(161,161,161,1);
			-moz-box-shadow: 2px 2px 2px 0px rgba(161,161,161,1);
			box-shadow: 2px 2px 2px 0px rgba(161,161,161,1);

			.tab-head-wrap {
				background-color: #d8d8d8;

				.tab-head {
					padding: 10px;
					background-color: #d8d8d8;
					display: inline-block;
					text-decoration: none;
					color: #111111;

					&:visited {
						color: #111111;
					}

					&.active {
						background: #ffffff;
					}
				}
			}

			#basic-info {
				display: block;

				.info-title {
					color: #72c148;
					font-weight: 600;
					font-size: 12px;
				}

				table {
					border: none;
					border-spacing: none;
					border-collapse: collapse;
					width: 90%;

					tr {
						border: none;

						td {
							border: none;

							&:last-of-type {
								text-align: center;
							}
						}
					}
				}
			}

			#breakdown-info {
				display: none;

				.info-title {
					color: #72c148;
					font-weight: 600;
					font-size: 12px;
				}

				table {
					border: none;
					border-spacing: none;
					border-collapse: collapse;
					width: 90%;

					thead {

						tr {

							th {
								border: 1px solid #cecece;
								background-color: #5eb3dc;
								color: #ffffff;
								font-weight: normal;
								text-align: left;
								padding-left: 5px;

								&:last-of-type {
									text-align: center;
								}
							}
						}
					}

					tr {
						border: none;

						&:nth-child(odd) {

							td {
								background-color: #ffffff;
							}
						}

						td {
							border: 1px solid #cecece;
							background-color: #d8d8d8;
							padding-left: 5px;

							&:last-of-type {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
