/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	float:left;
	width:238px;
	position:absolute;
	left:0;
	bottom:23px;
	min-height:68px;
	height:auto !important;
	height:68px;
	padding:10px 0;
	padding-left:20px;
	padding-right:20px;
	background:url(../../images/banner_trans_bg01.png) repeat-y 0 0;
	z-index:103;
	color:#FFF;
}
.nivo-caption strong {
	padding-bottom:5px;
	display:inline-block;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	position:absolute;
	top:250px;
	right:630px;
}

.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	display:block;
	padding:4px 6px;
	background:#f5f3f3;
	color:#515151;	
	width:auto;
	display:inline;
	font-size:11px;
	font-weight:bold;
	margin:0 1px;
}
.nivo-controlNav a.active {
	font-weight:bold;
	background:#74ba46;
	color:#FFF;	
}