// meta
title #{title}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="#{title}")
meta(name="viewport" content="width=device-width, initial-scale=1")

// icons
//- link(rel="apple-touch-icon" href="apple-touch-icon.png")
//- link(rel="icon" type="image/png" href="favicon.png")

// stylesheets
link(rel="stylesheet" href="js/vendor/bootstrap/css/bootstrap.css")
link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" href="css/responsive.css")
//- link(rel="stylesheet" media="print" href="css/print.css")

// script
script(src="js/vendor/modernizr/modernizr.js")
//- script(src="http://www.onemap.sg/API/JS/?accessKEY=JirbPtbtNZV8xn7Y549p/m0c9ELjPgRYUg1HtHoLf0YIZ+on/e4A9jnblec/7SZX2/qdwp0djB1ENwYjoLu2oITF5u9Q7n81zyfB3iws/9k4qcLYYgQoIg==|mv73ZvjFcSo=&type='full'")


//- JirbPtbtNZV8xn7Y549p/mOc9ELjPgRYUg1HtHoLf0YIZ+on/e4A9jnblec/7SZX2/qdwpOdjB1ENwYjoLu2oITF5u9Q7n8lzyfB3iws/9k4qcLYYgQoIg==|mv73ZvjFcSo=